{% extends "base.html" %}
{% block content %}
    <h3>Vehicles</h3>
    <form class="row g-2 mb-3" method="get">
        <div class="col-md-3"><input class="form-control" name="brand" placeholder="Brand"
                                     value="{{ request.args.get('brand','') }}"/></div>
        <div class="col-md-3">
            <select class="form-select" name="type">
                {% set t = request.args.get('type','') %}
                <option value="" {{ 'selected' if t=='' else '' }}>All types</option>
                <option value="car" {{ 'selected' if t=='car' else '' }}>car</option>
                <option value="motorbike" {{ 'selected' if t=='motorbike' else '' }}>motorbike</option>
                <option value="truck" {{ 'selected' if t=='truck' else '' }}>truck</option>
            </select>
        </div>

        <div class="col-md-2"><input class="form-control" name="min" placeholder="Min rate"
                                     value="{{ request.args.get('min','') }}"/></div>
        <div class="col-md-2"><input class="form-control" name="max" placeholder="Max rate"
                                     value="{{ request.args.get('max','') }}"/></div>
        <div class="col-md-2">
            <button class="btn btn-primary w-100">Filter</button>
        </div>
    </form>
    <div class="row">
        {% for v in vehicles %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <a class="btn btn-sm no-style" href="/vehicles/{{ v.vehicle_id }}"> <img
                            src="{{ v.image_path }}" class="card-img-top" alt="vehicle">
                    </a>

                    <div class="card-body">
                        <h5 class="card-title">{{ v.brand }} {{ v.model }}</h5>
                        <p class="card-text">Type: {{ v.type }} | Rate: ${{ '%.2f'|format(v.rate) }}/day</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
